*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: Bold; 
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  padding-top: 28px;
  padding-bottom: 130px;
}
.header:after {
  content: "" ;
  background-color: #000000;
  opacity: 0.60;
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index:-1;
}
.menu, .logo_link {
  display:flex;
  justify-content:space-between;
  align-items:center;
 }
.header-logo {
  width: 180px;
}
.menu-button {
  display: none;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-list-item {
  margin-right: 35px;
}
.menu-list-item:last-child {
  margin-right: 0;
}
.item {
  font-family: OpenSans-Regular, sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}
.item:hover {
  text-decoration: underline;
}
.welcome-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  max-width: 700px;
  margin: auto;
  padding-top: 106px;
}
.trends-carousel {
  margin-right: auto;
  margin-left: auto;
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  min-width: 360px;
}
.trends-info {
  width: 100%;
  display: inherit;
  align-items: center;
  justify-content: center;
}
.trends-title {
  margin: 0;
  text-align: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.trends-title::after {
  content: "";
  display: block;
  position: relative;
  top: 13px;
  margin-right: auto;
  margin-left: auto;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
}
.trends-list {
  display: inherit;
  width: 100%;
}
.trends-content {
  position: relative;
  width: 24.875%;
  margin-right: 0.5%;
  color: #ffffff;
  min-height: 320px;
  display: flex;
}
.trends-content:last-child {
  margin-right: 0;
}
.trends-content::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.45;
}
.trends-body {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 20px;
  z-index: 1;
  border: 3px solid #73643b;
}
.trends-tags-list {
  padding: 37px 32px 0 32px;
}
.trends-tags {
  display: inline;
  vertical-align: top;
  list-style-type: none;
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
}
.trends-tags-link {
  text-decoration: none;
  font-family: OpenSans-Bold, sans-serif;
  color: #a59351;
  font-size: 14px;
  margin-right: 20px;
}
.trends-tags-link:hover {
  text-decoration: underline;
}
.trends-posts-name {
  font-family: OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 32px 30px 32px;
}
.trends-posts-name-link {
  text-decoration: none;
  font-family: OpenSans-Bold, sans-serif;
  color: #ffffff;
}
.trends-posts-name-link:hover {
  color: #b59f5b;
}
.trends-pics {
  width: 100%;
  object-fit: fill;
}
.page {
  margin-top: 63px;
  width: 1200px;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.side-content {
  width: 270px;
}
.posts {
  width: 775px;
}
.post {
 display: flex;
 height: 294px;
}
.post:nth-child(1n+2) {
 margin-top: 60px;
}
.post-img {
  width: 380px;
  max-width: 380px;
}
.post-tag {
  display: flex;  
  list-style: none;
  margin-bottom: 5px;
}
.post-info {
  margin-left: 30px;
}
.post-tag-link {
  font-family: OpenSans-Regular, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
}
.post-tag-item {
  margin-right: 25px;
}
.post-tag-link:hover {
  text-decoration: underline;
}
.post-name-link{
  font-family: OpenSans-Bold, sans-serif;
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}
.post-name-link:hover {
  color: #b59f5b;
}
.post-name {
 margin-bottom: 25px;
}
.article-info {
  font-family: OpenSans-Bold, sans-serif;
  display: flex;
  margin-bottom: 45px;
}
.date {
  color: #989898;
  font-size: 12px;
}
.author {
  color: #000000;
  font-size: 12px;
  margin-left: 15px;
}
.post-description {
  font-family: OpenSans-Regular, sans-serif;
  width: 367px;
  height: 62px;
  color: #0f0d0e;
  font-weight: 400;
}
.text {
  font-size: 15px;
  line-height: 1.46;
  padding-bottom: 5px;
}
.new-post-img {
  width: 70px;
}
.new-posts {
  width: 270px;
}
.heading {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  line-height: 0.48;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.heading::after {
  content: '';
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 4px;
  background-color: #e1d9bd;
}
.new-post {
 display: flex;
}
.new-post:nth-child(1n+2) {
 margin-top: 10px;
}
.new-article-info {
  font-family: OpenSans-Bold, sans-serif;
}
.new-post-preview {
  padding-top: 6px;
}
.new-post-name-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}
.new-post-name-link:hover {
  color: #b59f5b;
}
.new-article-info {
  margin-left: 20px;
}
h3 {
 line-height: 16px;
}
form.search-bar input[type=text] {
  border: none; 
  background-color:#f4f7f6; 
  float: left;
  width: 80%;
  height: 50px; 
  padding-left:18px; 
  font-size: 13px; 
  font-family: OpenSans-Regular, sans-serif; 
  color: #818382;
}
input:focus {
  outline: 1px solid #b59f5b;
}
.aside-search-bar {
  margin-top: 60px;   
  margin-bottom: 65px;
}
.form-hint {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
form.search-bar button {
  width: 20%;
  height: 50px; 
  padding: 10px;
  background-image: url(../svg/search.svg); 
  background-color:#b59f5b; 
  border: none; 
  background-size: 18px; 
  background-repeat: no-repeat; 
  background-position: center center;
  cursor: pointer;
}
form.search-bar button:hover {
  background-color:#323232; 
}
form.mailings input[type=text] {
  width: 100%;
  height: 50px;
  border: none; 
  background-color: #f4f7f6; 
  padding-left: 18px; 
  float: left;
  color: #818382;
  margin-bottom: 15px;
}
form.mailings button {
  width: 100%;
  height: 50px;
  border: none; 
  background-color: #b59f5b;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  cursor: pointer;
}
form.mailings button:hover {
  background-color:#323232; 
}
.aside-heading {
  margin-bottom: 60px;
}
.aside-tag {
  display: flex;  
  flex-wrap: wrap;
  list-style: none;
}
.aside-tag-link {
  display: block;
  border: 3px solid #eeeeee;
  padding: 4px 13px;
  margin-right: 5px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #0f0d0e;
  font-family: OpenSans-Bold, sans-serif;
  text-decoration: none;
}
.aside-tag-link:hover {
  border: 3px solid #b59f5b;
}
.aside-title {
  margin-top: 54px;
}
.uppercase{
  margin-left: 5px;
  color: #b59f5b;
  font-size: 12px;
  vertical-align: super;
}
.aside-title-list {
  list-style: none;
}
.aside-title-list-link {
  font-family: OpenSans-Bold, sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
}
.aside-title-list-item {
  border-bottom: 1px solid #ededed;
  padding-bottom: 11px;
}
.aside-title-list-item:nth-child(1n+2){
  padding-top: 11px;
}
.aside-title-list-link:hover {
  color: #b59f5b;
}
.shop-carousel {
  margin-right: auto;
  margin-left: auto;
  margin-top: 65px;
  width: 1165px;
}
.shop-info {
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.shop-title {
  margin: 0;
  text-align: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.shop-title::after {
  content: "";
  display: block;
  position: relative;
  top: 13px;
  margin-right: auto;
  margin-left: auto;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
}
.shop-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.shop-content {
  min-height: 440px;
  display: flex;
  position: relative;
  width: 29.66%;
  margin-right: 5.5%;
}
.shop-content:last-child {
  margin-right: 0;
}
.shop-product-header {
  height: 200px;
  padding-left: 20px;
}
.shop-product-body {
  box-sizing: border-box;
  position: absolute;
  min-height: 265px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 55px 20px 0 20px;
  border: 3px solid #d3c59d;
}
.shop-product-name {
  font-family: OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.shop-product-text {
  font-size: 15px;
  font-family: OpenSans-Regular, sans-serif;
  line-height: 1.46;
}
.shop-product-text-link {
  text-decoration: none;
  font-family: OpenSans-Regular, sans-serif;
  color: #b59f5b;
  font-size: 15px;
}
.shop-product-text-link:hover {
  text-decoration: underline;
}
.shop-product-title,
.shop-product-description,
.shop-product-footer {
  max-width: 300px;
}
.shop-product-footer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.shop-product-price {
  display: flex;
}
.shop-product-price-old {
  font-family: OpenSans-Bold, sans-serif;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 700;
}
.shop-product-price {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.shop-product-button {
  box-sizing: border-box;
  height: 50px;
  width: 140px;
  padding: 15px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #b59f5b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.shop-product-button:hover {
  background-color: #323232;
}
.shop-product-button-link {
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  color: #ffffff;
  font-size: 14px;
}
footer {
  margin-top: 60px;
  width: 1165px;
  margin-left: auto;
  margin-right: auto;
}
.social-links {
  height: 80px;
  width: 1165px;
  background-color: #f3f7f5;
  margin-bottom:75px;
}
.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  list-style: none;
}
.social-icons>li {
  margin-left: 23px;
  margin-right: 23px;
}
.social-icons a {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.social-icons a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}
.social-icons .social-icon-twitter::before {
  background-image: url("../svg/004-twitter.svg");
}
.social-icons .social-icon-pinterest::before {
  background-image: url("../svg/001-pinterest.svg");
}
.social-icons .social-icon-facebook::before {
  background-image: url("../svg/002-facebook-logo.svg");
}
.social-icons .social-icon-instagram::before {
  background-image: url("../svg/005-instagram.svg");
}
.social-icons .social-icon-tumbler::before {
  background-image: url("../svg/003-tumblr.svg");
}
.copyright{
  font-family: OpenSans-Bold, sans-serif; 
  font-size: 12px;
  color: #999999;
  text-decoration: none;
  text-align: center;
}
._hidden {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
}
.popup-container {
  max-width: 390px;
  min-height: 590px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
}
.popup-title {
  margin: 55px 0 40px 0;
  text-align: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.popup-title::after {
  content: "";
  display: block;
  position: relative;
  top: 13px;
  margin-right: auto;
  margin-left: auto;
  width: 68px;
  height: 3px;
  background-color: #e1d9bd;
}
.popup-body {
  box-sizing: border-box;
}
.popup-list-of-questions {
  margin: 0 30px 0 30px;
}
.popup-question{
  margin-bottom: 25px;
}
.popup-question-title {
  margin-bottom: 10px;
}
.popup-label-how-often,
.popup-label-anything-else,
.popup-name,
.popup-text-do-you-sign-up,
.popup-field-anything-else {
  font-size: 0.81rem;
  font-family: OpenSans-Regular, sans-serif;
}
.popup-field-how-often {
  margin-top: 10px;
  height: 50px;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px 17px;
  color: #939594;
}
.popup-field-how-often:focus {
  outline: 1px solid #b59f5b;
}
.popup-field-how-often,
.popup-field-anything-else {
  box-sizing: border-box;
  width: 330px;
  height: 50px;
  border: none;
  padding: 15px;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.popup-options-how-often {
  color: #000000;
}
.popup-field-anything-else {
  margin-top: 10px;
  height: 130px;
  resize: none;
}
.popup-field-anything-else:focus {
  outline: 1px solid #b59f5b;
}
.popup-text-do-you-sign-up::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.popup-label-do-you-sign-up {
  position: relative;
  margin-right: 15px;
}
.popup-field-do-you-sign-up {
  position: absolute;
  top: 5px;
  left: 5px;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
}
.popup-field-do-you-sign-up:checked ~ .popup-text-do-you-sign-up::before {
  background-image: url("../svg/form-circle.svg");
}
.popup-text-do-you-sign-up-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.popup-send-button {
  box-sizing: border-box;
  width: 330px;
  margin-bottom: 50px;
  height: 50px;
  padding: 15px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #b59f5b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.popup-button-label {
  font-size: 0.87rem;
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
}
.popup-send-button:hover {
  background-color: #323232;
}
.popup-close-button {
  background-color: transparent;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 1em;
  height: 1em;
  position: absolute;
  top: -1.5em;
  right: 0;
}
@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
.header {
  background-image: url("../images/banner-bg-tablet.jpg");
  min-width: 770px;
}
.container {
  max-width: 700px;
  padding-left: 0;
  padding-right: 0;
}
.menu {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.header-logo {
  max-width: 160px;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-button {
  display: block;
  width: 1em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  text-indent: -9999px;
}
.menu-button:before, .menu-button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
.menu-button:before {
  top: 0;
}
.menu-button:after {
 bottom: 0;
}
.menu-list {
  display: none;
}
.welcome-title {
  font-size: 40px;
  max-width: 620px;
}
.trends-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}
.trends-title {
  font-size: 18px;
  margin-bottom: 30px;
}
.trends-list {
display: inherit;
width: 100%;
flex-wrap: wrap;
}
.trends-content {
width: 49.61%;
margin-right: 0.78%;
margin-bottom: 6px;
min-height: 248px;
}
.trends-content:nth-child(even) {
margin-right: 0;
}
.trends-content:nth-child(n+3){
  margin-bottom: 0;
}
.trends-content::after {
content: "";
background-color: #000000;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0.45;
}
.trends-posts-name {
font-size: 17px;
}
.page {
  max-width: 700px;
  margin-bottom: 70px;
  margin-top: 0;
}
.posts-on-page {
  margin-right: 36px;
  display: inherit;
}
.posts {
  display: block;
  width: 380px;
}
.post {
  width: 380px;
  height: 570px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #eeeeee;
}
.post-preview {
  min-width: 380px;
}
.posts-img {
  width: 100%;
  object-fit: fill;
}
.post-info {
  margin-left: 0;
}
.post-tag {
  margin-bottom: 15px;
  margin-top: 16px;
}
.post-name {
  margin-bottom: 35px;
}
.post:nth-child(1n+2) {
    margin-top: 40px;
}
.article-info {
  margin-bottom: 35px;
}
.shop-carousel {
 max-width: 700px;
 margin-top: 0;
 margin-bottom: 20px;
}
.shop-list {
  width: 100%;
  flex-wrap: wrap;
}
.shop-content {
min-height: 435px;
width: 48.2%;
margin-right: 3.60%;
margin-bottom: 30px;
}
.shop-content:nth-child(even) {
margin-right: 0;
}
footer {
  max-width: 700px;
}
.social-links {
  max-width: 700px;
}
.popup-close-button {
  font-size: 25px;
  width: 1em;
  height: 1em;
}
}
@media (max-width: 640px) {
.header {
  background-image: url("../images/banner-mobile.jpg");
  min-width: 360px;
  max-width: 640px;
  padding-bottom: 640px;
  margin-bottom: 45px;
}
.container {
  min-width: 360px;
  max-width: 640px;
  padding-left: 0;
  padding-right: 0;
}
.menu {
  min-width: 360px;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column-reverse;
}
.header-logo {
  max-width: 160px;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-button {
  display: block;
  width: 1em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  text-indent: -9999px;
}
.menu-button:before, .menu-button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
.menu-button:before {
  top: 0;
}
.menu-button:after {
 bottom: 0;
}
.menu-list {
  display: none;
}
.welcome-title {
  font-size: 26px;
  max-width: 280px;
}
.trends-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline;
}
.trends-title {
  font-size: 18px;
  margin-bottom: 30px;
}
.trends-list {
display: inherit;
width: 100%;
flex-wrap: wrap;
}
.trends-content {
width: 100%;
margin-right: 0;
margin-left: 0;
margin-bottom: 3px;
min-height: 248px;
}
.trends-content::after {
content: "";
background-color: #000000;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0.45;
}
.trends-posts-name {
font-size: 17px;
}
.page {
  width: 330px;
  margin-bottom: 70px;
  margin-top: 45px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.posts-on-page {
  margin-right: 0px;
  display: inherit;
}
.posts {
  display: block;
  width: 330px;
  margin-right: auto;
  margin-left: auto;
}
.post {
  width: 330px;
  height: 570px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #eeeeee;
}
.post-preview {
  min-width: 330px;
}
.posts-img {
  width: 100%;
  object-fit: fill;
}
.post-info {
  margin-left: 0;
}
.post-tag {
  margin-bottom: 15px;
  margin-top: 16px;
}
.post-name {
  margin-bottom: 35px;
}
.post:nth-child(1n+2) {
    margin-top: 40px;
}
.article-info {
  margin-bottom: 35px;
}
.side-content {
  margin-top: 45px;
  width: 330px;
}
.aside-tag-link:last-child{
  margin-right: 0;
}
.shop-carousel {
  width: 330px;
  margin-top: 0;
  margin-bottom: 22px;
}
.shop-list {
  display: block;
}
.shop-content {
 min-height: 490px;
 width: 100%;
 margin-bottom: 20px;
}
.shop-content:nth-child(even) {
  margin-right: 0;
}
.shop-product-header {
 width: 280px;
 height: 285px;
 padding: 0;
 margin: 0 auto 0 auto;
}
.shop-product-name {
  font-size: 17px;
}
.shop-product-footer {
  margin-top: 25px;
}
footer {
 width: 330px;
}
.social-links {
  max-width: 330px;
}
.popup-close-button {
  font-size: 25px;
  width: 1em;
  height: 1em;
}

}